/* div {
    color: white;
} */

body {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Open Sans";
  font-weight: lighter;
  color: rgba(35, 35, 45, 0.9);
}

h1 {
  font-size: 48px;
  line-height: 140%;
}

h2 {
  font-size: 36px;
  line-height: 140%;
}

h3 {
  font-size: 28px;
  line-height: 140%;
  font-weight: bold;
}
